@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 80px 10px;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
  border: 7px black solid;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: lightblue;
  height: 38px;
  width: 100px;
  border-radius: 5%;
  font-weight: 600;
}

h2 {
  border-bottom: 5px ridge ;
  padding-top: 50px;
}


